* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chat__container {
    width: 500px;
    height: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(217, 236, 255);
    margin: 20px auto;
}

.chat__container_title {
    display: flex;
    justify-content: center;
}

.chat__container_header {
    display: flex;
    justify-content: space-between;
}

.header__input {
    border: 3px solid #43afe1;
    padding: 7px 5px;
    width: 80%;
    margin-right: 10px;
    outline: none;

}

.header__input:focus {
    border: 3px solid #0b74d0;
}

.header__btn {
    border: none;
    background-color: #43afe1;
    padding: 0px 5px;
    width: 30%;
    cursor: pointer;
}

.header__btn:hover {
    background-color: rgb(197, 228, 255);
    transition: 400ms ease;
}

.chat__container_message {
    overflow: auto;
    border: 3px solid #43afe1;
    padding: 5px;
    margin-top: 12px;
    height: 400px;
}

.messages {
    border: 3px solid #43afe1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 7px;
    align-self: flex-end;
}

.messages_user {
    display: flex;
    flex-flow: column wrap;

}

.messages_server,
a {
    cursor: pointer;
    color: #0033ff;
    text-decoration: underline;
}

.messages_server:hover,
a:hover {
    color: #43afe1;
    text-decoration: none;
}

.geo-location {
    margin-left: 6px;
}