body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background-color: rgb(255, 111, 233);
    font-weight: bold;
    border: 1px solid rgb(193, 11, 166);
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, .3);
    transform: scale(1.05);
}

.btn_text {
    color: #ffffff;
    font-size: 35px;
    margin-right: 10px;
}

.btn_icon1 {
    color: #ffffff;
}

.btn_icon2 {
    display: none;
    color: #ffffff;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

